{% extends "partials/base.html.twig" %}
{% block title %}Buy{% endblock %}

{% block content %}

        <div class="grid-container">
            <div class="grid-header">Track Name</div>
            <div class="grid-header">Track Length</div>
            <div class="grid-header">BPM</div>
            <div class="grid-header">Genre</div>
            <div class="grid-header">Format</div>
            <div class="grid-header">Price</div>
            <div class="grid-header"></div>
        </div>

{% for product in products %}

        <div class="grid-row">
            <div class="row">{{ product.trackname }}</div>
            <div class="row">{{ product.tracklength }}</div>
            <div class="row">{{ product.bpm }}</div>
            <div class="row">{{ product.genre }}</div>
            <div class="row">{{ product.format }}</div>
            <div class="row">£{{ product.price }}</div>
            <div class="row"><a href="/basket/add/{{ product.id }}"><i class="fa fa-cart-plus"></i></a></div>
        </div>
        
{% endfor %}

{% endblock %}