{% extends "partials/base.html.twig" %}
{% block title %}Buy{% endblock %}

{% block content %}

<div>
    {% for product in products %}
        <div class="grid-container">
            <div class="grid-header">Track Name</div>
            <div class="grid-header">Track Length</div>
            <div class="grid-header">BPM</div>
            <div class="grid-header">Genre</div>
        </div>
        </div>
        <div class="grid-row">
            <div class="row1">{{ product.trackname }}</div>
            <div class="row1">{{ product.tracklength }}</div>
            <div class="row1">{{ product.bpm }}</div>
            <div class="row1">{{ product.genre }}</div>
        </div>
</div>
{# {{ product.trackname }} #}
    {% endfor %}
</div>

{% endblock %}


{# product(db).trackname(row) #}
{# To do: Create a table using css grids  #}
